deploy/n8n/ds-failed-auto-rerun/各国-DS失败自动重跑统一入口.json
{
  "name": "各国-DS失败自动重跑统一入口",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ds-failed-auto-rerun",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "responseData": "firstEntryJson"
      },
      "id": "a3512c1d-1048-47f7-9b40-34254f94257d",
      "name": "DS失败告警Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        260
      ],
      "webhookId": "ds-failed-auto-rerun-all-countries"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json;\nconst headers = $json.headers || {};\n\nconst COUNTRIES = {\n  cn: { key: 'cn', name: '中国', ssh: 'ssh -p 36000 root@10.20.47.14', legacyRepo: '/root/CN-Intelligent-Alarm-Repair-Assistant', sync: 'archive' },\n  th: { key: 'th', name: '泰国', ssh: 'ssh -p 36000 root@192.168.20.236', legacyRepo: '/root/TH-Intelligent-Alarm-Repair-Assistant', sync: 'git' },\n  ine: { key: 'ine', name: '印尼', ssh: 'ssh -p 36000 root@192.168.21.236', legacyRepo: '/root/INE-Intelligent-Alarm-Repair-Assistant', sync: 'git' },\n  pk: { key: 'pk', name: '巴基斯坦', ssh: 'ssh root@10.20.84.176', legacyRepo: '/root/PK-Intelligent-Alarm-Repair-Assistant', sync: 'git' },\n  mx: { key: 'mx', name: '墨西哥', ssh: 'ssh -p 36000 root@172.20.220.165', legacyRepo: '/root/MX-Intelligent-Alarm-Repair-Assistant', sync: 'git' },\n  ph: { key: 'ph', name: '菲律宾', ssh: 'ssh root@10.20.10.12', legacyRepo: '/root/PH-Intelligent-Alarm-Repair-Assistant', sync: 'git' },\n};\n\nfunction findValue(value, names) {\n  if (!value || typeof value !== 'object') return '';\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      const found = findValue(item, names);\n      if (found) return found;\n    }\n    return '';\n  }\n  for (const [key, item] of Object.entries(value)) {\n    if (names.has(String(key).toLowerCase()) && item !== undefined && item !== null && item !== '') {\n      return String(item).trim();\n    }\n    const found = findValue(item, names);\n    if (found) return found;\n  }\n  return '';\n}\n\nfunction normalizeCountry(value) {\n  const text = String(value || '').trim().toLowerCase();\n  if (['id', 'indonesia', '印尼'].includes(text)) return 'ine';\n  if (['cn', 'china', '中国'].includes(text)) return 'cn';\n  if (['th', 'thai', 'thailand', '泰国'].includes(text)) return 'th';\n  if (['pk', 'pakistan', '巴基斯坦'].includes(text)) return 'pk';\n  if (['mx', 'mexico', '墨西哥'].includes(text)) return 'mx';\n  if (['ph', 'philippines', '菲律宾'].includes(text)) return 'ph';\n  return text;\n}\n\nfunction shellQuote(value) {\n  return `'${String(value).replace(/'/g, `'\"'\"'`)}'`;\n}\n\nfunction jsonEcho(value) {\n  return `printf '%s\\\\n' ${shellQuote(JSON.stringify(value))}`;\n}\n\nfunction buildSyncCommand(country) {\n  const repo = '/root/Global-Intelligent-Alarm-Repair-Assistant';\n  const repoUrl = 'https://github.com/chenjiuxuan1/Global-Intelligent-Alarm-Repair-Assistant.git';\n  const archiveUrl = 'https://github.com/chenjiuxuan1/Global-Intelligent-Alarm-Repair-Assistant/archive/refs/heads/master.tar.gz';\n  if (country.sync === 'archive') {\n    return [\n      `mkdir -p ${shellQuote(repo)}`,\n      `if [ ! -f ${shellQuote(repo + '/tools/ds_failed_auto_retry.py')} ]; then echo '通用重跑脚本不存在，开始用压缩包同步代码'; curl -L --retry 3 --retry-delay 2 --connect-timeout 10 -o /tmp/global-intelligent-alarm-repair-assistant-master.tar.gz ${shellQuote(archiveUrl)} && tar -xzf /tmp/global-intelligent-alarm-repair-assistant-master.tar.gz -C ${shellQuote(repo)} --strip-components=1; fi`,\n    ].join('; ');\n  }\n  return [\n    `if [ ! -d ${shellQuote(repo)} ]; then git clone ${shellQuote(repoUrl)} ${shellQuote(repo)}; fi`,\n    `cd ${shellQuote(repo)}`,\n    `if [ ! -f tools/ds_failed_auto_retry.py ]; then echo '通用重跑脚本不存在，开始拉取最新代码'; git remote set-url origin ${shellQuote(repoUrl)} || true; git fetch origin master && git reset --hard origin/master; fi`,\n  ].join('; ');\n}\n\nfunction buildRemoteScript(country, payloadB64, dsToken, requestId) {\n  const repo = '/root/Global-Intelligent-Alarm-Repair-Assistant';\n  const logFile = `/tmp/${country.key}_ds_failed_auto_retry_${requestId}.log`;\n  const sync = buildSyncCommand(country);\n  return [\n    'set -e',\n    sync,\n    `cd ${shellQuote(repo)}`,\n    'set -a',\n    `[ -f ${shellQuote(country.legacyRepo + '/.env.local')} ] && source ${shellQuote(country.legacyRepo + '/.env.local')}`,\n    '[ -f .env.local ] && source .env.local',\n    'set +a',\n    `REQUEST_DS_TOKEN=${shellQuote(dsToken)}`,\n    `PAYLOAD_B64=${shellQuote(payloadB64)}`,\n    `REQUEST_ID=${shellQuote(requestId)}`,\n    `COUNTRY=${shellQuote(country.key)}`,\n    `nohup python3 tools/ds_failed_auto_retry.py --country \"$COUNTRY\" --payload-b64 \"$PAYLOAD_B64\" --ds-token \"$REQUEST_DS_TOKEN\" --request-id \"$REQUEST_ID\" >${shellQuote(logFile)} 2>&1 &`,\n    jsonEcho({ accepted: true, country: country.key, country_name: country.name, request_id: requestId, log: logFile }),\n  ].join('\\n');\n}\n\nconst countryKey = normalizeCountry(\n  findValue(raw, new Set(['country', 'country_code', 'countrycode', 'app_country'])) ||\n  headers['x-country'] || headers['X-Country'] || ''\n);\nconst country = COUNTRIES[countryKey];\nconst requestId = String(raw.request_id || raw.requestId || `${countryKey || 'unknown'}-ds-alert-${Date.now()}`).replace(/[^a-zA-Z0-9_.-]/g, '_');\nconst dsToken =\n  findValue(raw, new Set(['ds_token', 'dstoken', 'token', 'dolphinscheduler_token'])) ||\n  String(headers['x-ds-token'] || headers['X-DS-Token'] || '').trim();\nconst payloadJson = JSON.stringify(raw);\nconst payloadB64 = Buffer.from(payloadJson, 'utf8').toString('base64');\n\nif (!country) {\n  return [{ json: {\n    accepted: false,\n    valid: false,\n    country: countryKey,\n    request_id: requestId,\n    command: jsonEcho({ accepted: false, valid: false, error: `unsupported country: ${countryKey || '(empty)'}`, request_id: requestId }),\n    message: '不支持的国家。country 支持 cn/th/ine/id/pk/mx/ph。'\n  }}];\n}\n\nconst remoteScript = buildRemoteScript(country, payloadB64, dsToken, requestId);\nconst command = `${country.ssh} ${shellQuote(remoteScript)}`;\n\nreturn [{ json: {\n  accepted: true,\n  valid: true,\n  country: country.key,\n  country_name: country.name,\n  request_id: requestId,\n  ds_token: dsToken,\n  payload_b64: payloadB64,\n  command,\n  note: '后台会调用 retry_instance，最多 3 次，从失败节点开始执行，每次检查间隔 3 分钟。'\n}}];"
      },
      "id": "0e4a95bb-6e67-462f-80e5-39935d687e93",
      "name": "识别国家并构造命令",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        260
      ]
    },
    {
      "parameters": {
        "command": "={{$json.command}}"
      },
      "id": "be661d35-d66b-47c5-8b9f-f78959dcd8d5",
      "name": "对应国家启动后台重跑",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        860,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = String($json.stdout || '').trim();\nconst stderr = String($json.stderr || '').trim();\nlet started = null;\ntry {\n  started = stdout ? JSON.parse(stdout.split(/\\n/).filter(Boolean).at(-1)) : null;\n} catch (error) {\n  started = { raw_stdout: stdout, parse_error: error.message };\n}\n\nreturn [{\n  json: {\n    accepted: Boolean(started?.accepted),\n    country: started?.country || $json.country || '',\n    country_name: started?.country_name || $json.country_name || '',\n    request_id: started?.request_id || $json.request_id || '',\n    background_started: Boolean(started?.accepted),\n    runner: started,\n    stderr,\n    message: started?.accepted\n      ? `已接收 ${started.country_name || started.country || ''} DS 失败告警，后台自动重跑任务已启动。`\n      : (started?.error || 'DS 失败告警自动重跑未启动')\n  }\n}];"
      },
      "id": "78065e74-1a3a-4c44-8457-70182d54a2f9",
      "name": "整理响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f626420b-05bd-4de5-b703-ddcdd1ff099e",
      "name": "返回Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1380,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "DS失败告警Webhook": {
      "main": [
        [
          {
            "node": "识别国家并构造命令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "识别国家并构造命令": {
      "main": [
        [
          {
            "node": "对应国家启动后台重跑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "对应国家启动后台重跑": {
      "main": [
        [
          {
            "node": "整理响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理响应": {
      "main": [
        [
          {
            "node": "返回Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ds-failed-auto-rerun-all-countries-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ds-failed-auto-rerun-all-countries",
  "tags": []
}